@import "tailwindcss";

:root {
 --background: #ECE1CF;
  --foreground: #171717;
  --font-heading: var(--font-cinzel);
  --font-body: var(--font-jacques-francois);
  --font-inter: var(--font-inter);
  --color-brand-dark: #805C2C;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.navbar {
  background-color: var(--color-brand-dark);
  color: white;
}

.navbar-mobile-menu {
  background-color: var(--color-brand-dark);
  font-family: 'Cinzel', serif;
}

.navbar-link {
  font-family: 'Cinzel', serif;
}

.footer-brand-dark {
  background-color: var(--color-brand-dark); /* same brand color as Navbar */
  color: white;
  font-family: 'Cinzel', serif; /* default font for brand text */
}

.footer-contact {
  font-family: 'Inter', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

p {
  font-size: 24px;
  line-height: 1.8;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}
.two-column-grid {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  column-gap: 4px;   /* <- tighten horizontally */
  row-gap: 10px;     /* keep vertical spacing */
}




